$backColor: #282828;
$textColor: #fff;
$textShadov:
  0 0 5px #b34229,
  0 0 10px #ba3a1d,
  0 0 20px #aa3f26;

$shadow:
  0 0 15px rgba(255, 94, 58, 0.4),
  inset 0 0 10px rgba(255, 255, 255, 0.05);
$shadovHover:
  0 0 25px rgba(255, 94, 58, 0.7),
  inset 0 0 15px rgba(255, 255, 255, 0.1);

$border: 1px solid grey;